playground.py
slurm_train.py
slurm_submit_job.sh
setup_env*s
./save_dir/
./models/__pycache__/
./analysis/__pycache__/
./analysis/pip_list.txt
./dataset_loader/__pycache__/
./__pycache__/
*__pycache__*
*.h5
./_old/
.idea
*DS_store
*save_dir
rdm_files
h100*
./save_dir/
.__pycache__/
all_tnn_runs_jobs
analysis_all_tnn_jobs
./wandb/
/logs/
slurm*